<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @statuspagamento.tipo %>
</p>


<%= link_to 'Edit', edit_statuspagamento_path(@statuspagamento) %> |
<%= link_to 'Back', statuspagamentoes_path %>
