<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @formapagamento.tipo %>
</p>


<%= link_to 'Editar', edit_formapagamento_path(@formapagamento), class:"btn btn-warning" %> |
<%= link_to 'Voltar', formapagamentoes_path, class:"btn btn-inverse" %>
