<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @formapagamento.tipo %>
</p>


<%= link_to 'Edit', edit_formapagamento_path(@formapagamento) %> |
<%= link_to 'Back', formapagamentoes_path %>
